<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="new_analysis" method="post" enctype="multipart/form-data" align="center" style="margin-top: 100px">
    <input type="file" name="file" style="font-size:120%;width:500px;height:500px">
    <input type="hidden" name="analysis" value="true" style="font-size:200%;width:200px;height:200px;">
    <input type="submit" value="提交" style="font-size:200%;width:400px;height:400px">
</form>
</body>
</html>